.header {
  height: 100px;
  background-color: red;
}

.section-left {
  height: 500px;
  background-color: blue;
  width: 30%;
}

.section-right {
  height: 500px;
  background-color: skyblue;
  width: 70%;
}

.footer {
  height: 100px;
  background-color: aquamarine;
  clear:both;
}

.left {
  float: left;

}